body {
    background-color: rgb(0, 0, 0);
    text-align: center;
}
div {
    background-color: indianred;
}
h1 {
    color:ivory
}
h2 {
    color:ivory
}
h3 {
    color:ivory
}
p {
    color: ivory;
}
ul {
    color: ivory;
}